<section class="invite-code">
  <h1 class="invite-code__header">Validate invite code</h1>
  <div class="invite-code__wrap">
    <h2 class="invite-code__subtitle">Someone shared their invite code with you? Great!</h2>
    <p class="invite-code__content">Validate the code now and become part of our safer travel space.</p>
    <div class="invite-code__form">
      <%= simple_form_for :invite, url: validate_invite_code_path, method: :get do |f| %>
        <%= f.input :invite_code,
                    required: true,
                    label: false,
                    placeholder: 'Enter invite code here' %>
        <%= f.button :submit, 'Validate Invite Code', class: 'invite-code__button' %>
      <% end %>
    </div>
    <p class="invite-code__content">Don't have an invite code yet? <%= link_to 'Request one', code_contacts_path %> right now!</p>
  </div>
</section>