// Color variables

// Brand Identity
$primary: #fb5705;
$primary-dark: #bf4305;
$primary-light: #fc8950;
$primary-transparent: #fdbc9b;
$primary-super-transparent: #ffeee5;

$secondary: #8728a1;
$secondary-dark: #631d76;
$secondary-light: #ab69be;
$secondary-transparent: #cfa9da;
$secondary-super-transparent: #f3eaf6;

$tertiary: #f8d109;
$tertiary-dark: #d2b20a;
$tertiary-light: #fadf53;
$tertiary-transparent: #fced9d;
$tertiary-super-transparent: #fefae6;

// Informational
$error: hsl(0, 82%, 49%);
$warning: #ebff0f;

// Flash messages
$success: #198754 !default;
$info: #0dcaf0 !default;
$warning: #ffc107 !default;
$danger: #dc3545 !default;
$flash-colors: (
    'success': (
        'color': $success,
        'background': #d1e7dd,
        'text': #0a3622,
        'border': #a3cfbb,
    ),
    'info': (
        'color': $info,
        'background': #cff4fc,
        'text': #055160,
        'border': #9ec5fe,
    ),
    'warning': (
        'color': $warning,
        'background': #fff3cd,
        'text': #664d03,
        'border': #ffe69c,
    ),
    'error': (
        'color': $danger,
        'background': #f8d7da,
        'text': #58151c,
        'border': #f1aeb5,
    ),
) !default;

// Gray scale
$gray-01: hsl(0, 0%, 94%);
$gray-02: hsl(0, 0%, 87%);
$gray-03: hsl(0, 0%, 76%);
$gray-04: hsl(0, 0%, 65%);
$gray-05: hsl(0, 0%, 44%);
$gray-06: hsl(0, 0%, 20%);

// Basic
$black: $gray-06;
$white: hsl(0, 0%, 100%);
$beige: hsl(28, 100%, 97%);

// Neutral scale
$neutral-01: hsl(30, 100%, 100%);
$neutral-02: hsl(15, 67%, 99%);
$neutral-03: hsl(28, 100%, 97%);

// Color map
$color-map: (
    'primary': $primary,
    'primary-dark': $primary-dark,
    'primary-light': $primary-light,
    'primary-transparent': $primary-transparent,
    'primary-super-transparent': $primary-super-transparent,
    'secondary': $secondary,
    'secondary-dark': $secondary-dark,
    'secondary-light': $secondary-light,
    'secondary-transparent': $secondary-transparent,
    'secondary-super-transparent': $secondary-super-transparent,
    'tertiary': $tertiary,
    'tertiary-dark': $tertiary-dark,
    'tertiary-light': $tertiary-light,
    'tertiary-transparent': $tertiary-transparent,
    'tertiary-super-transparent': $tertiary-super-transparent,
    'error': $error,
    'warning': $warning,
    'gray-01': $gray-01,
    'gray-02': $gray-02,
    'gray-03': $gray-03,
    'gray-04': $gray-04,
    'gray-05': $gray-05,
    'gray-06': $gray-06,
    'black': $black,
    'white': $white,
    'beige': $beige,
    'neutral-01': $neutral-01,
    'neutral-02': $neutral-02,
    'neutral-03': $neutral-03,
);

@each $shade, $color in $color-map {
    .color-#{$shade} {
        color: $color;
    }
}
