// Color variables

// Brand Identity
$primary: hsl(20, 97%, 50%);
$primary-dark: hsl(20, 95%, 38%);
$primary-light: hsl(20, 97%, 65%);

$secondary: hsl(287, 60%, 39%);
$secondary-dark: hsl(287, 61%, 29%);
$secondary-light: hsl(287, 40%, 58%);

$tertiary: hsl(50, 97%, 51%);
$tertiary-dark: hsl(50, 91%, 43%);
$tertiary-light: hsl(50, 94%, 65%);

// Informational
$error: hsl(0, 82%, 49%);
$warning: hsl(65, 100%, 53%);

// Basic
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
$beige: hsl(28, 100%, 97%);

// Gray scale
$gray-01: hsl(0, 0%, 94%);
$gray-02: hsl(0, 0%, 87%);
$gray-03: hsl(0, 0%, 76%);
$gray-04: hsl(0, 0%, 65%);
$gray-05: hsl(0, 0%, 44%);
$gray-06: hsl(0, 0%, 20%);

// Neutral scale
$neutral-01: hsl(30, 100%, 100%);
$neutral-02: hsl(15, 67%, 99%);
$neutral-03: hsl(28, 100%, 97%);