// Color variables

// Brand Identity
$primary: #FB5705;
$primary-dark: #BF4305;
$primary-light: #FC8950;

$secondary: #8728A1;
$secondary-dark: #631D76;
$secondary-light: #AB69BE;

$tertiary: #FBD109;
$tertiary-dark: #D2B20A;
$tertiary-light: #FADF53;

// Informational
$error: #E41717;
$warning: #ECFF0D;

// Basic
$black: #000;
$white: #FFF;

// Gray scale
$gray-01: #EFEFEF;
$gray-02: #DFDFDF;
$gray-03: #C1C1C1;
$gray-04: #A5A5A5;
$gray-05: #6F6F6F;
$gray-06: #333;

// Neutral scale
$neutral-01: #FFFEFD;
$neutral-02: #FEFBFA;
$neutral-03: #FFF7F0;