@font-face {
	font-family: 'Outfit';
	src: asset_path(Outfit-Light) format('woff2'),
			 asset_path(Outfit-Light) format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Outfit';
	src: asset_path(Outfit-Bold) format('woff2'),
			 asset_path(Outfit-Bold) format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Outfit';
	src: asset_path(Outfit-Black) format('woff2'),
			 asset_path(Outfit-Black) format('woff');
	font-weight: 900;
	font-style: normal;
}


@font-face {
	font-family: 'Outfit';
	src: asset_path(Outfit-SemiBold) format('woff2'),
			 asset_path(Outfit-SemiBold) format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Mulish';
	src: asset_path(Mulish-Regular) format('woff2'),
			 asset_path(Mulish-Regular) format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Mulish';
	src: asset_path(Mulish-Medium) format('woff2'),
			 asset_path(Mulish-Medium) format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Mulish';
	src: asset_path(Mulish-ExtraBold) format('woff2'),
			 asset_path(Mulish-ExtraBold) format('woff');
	font-weight: 800;
	font-style: normal;
}

$body-font: 'Mulish', 'sans-serif';
$headers-font: 'Outfit', 'sans-serif';
