// Box shadow
$box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
$box-shadow-hover: rgba(100, 100, 100, 0.1) 0px 2px 8px 0px;


// Border radius
$border-radius-xlarge: 24px;
$border-radius-large: 16px;
$border-radius-medium: 12px;
$border-radius-small: 8px;

// Breakpoints
$break-x-small: 360px;
$break-small: 480px;
$break-medium: 768px;
$break-large: 1024px;
$break-x-large: 1440px;
