// Box shadow

// Border radius
$border-radius-xlarge: 24px;
$border-radius-large: 16px;
$border-radius-medium: 12px;
$border-radius-small: 8px;

// Breakpoints
$x-small: 360px;
$small: 480px;
$medium: 768px;
$large: 1024px;
$x-large: 1440px;
