.about {
	margin: 4rem 0;

	&__header {
		color: $white;
		background-color: $primary-transparent;
		margin: 0;
		padding: 2rem;
	}

	&__wrap {
		width: 80%;
		max-width: $container;
		margin: 2rem auto;
	}

	&__member {
		display: flex;
		gap: 3rem;
		align-items: center;

		img {
			height: 600px;
			width: 400px;
			object-fit: cover;
		}
	}

	p { margin: 1rem auto; }
	ol { list-style: none; }
}