// External libraries
@import 'cookies_eu';

.cookies {
	.general__numbered-list {
		li {
			font-size: smaller;
		}
	}
}

.cookies-eu {
	.cookies-eu-ok {
		background-color: $primary !important;
		border-radius: 8px;
	}
}
