.home {
	&__wrap {
		margin: 4rem auto;
		width: 90%;
		max-width: $container;

		@media (min-width: $break-large) { width: 80%; }
	}

	&__banner {
		padding: 4rem 0;
		background-image: url('https://res.cloudinary.com/dtkxl0tbk/image/upload/v1681314726/banner.jpg');
		background-size: cover;
		background-position: center;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	
		&-wrap {
			padding: 1rem;
			margin: 0 auto;
			text-align: center;

			h1 { margin-bottom: 0; } 
 
			p {
				@include title-4;
				
				color: $white;
				margin: 0;
			}

			@media (min-width: $break-medium) {
				width: 400px;
				padding: 4rem 0;
			}
		}

		&-button {
			a { width: 100%; }
		}

		&-primary {
			@include input-field;
			@include primary-button;

			margin: 2rem auto 1rem;
			width: fit-content;
		
			@media (min-width: $break-medium) { margin: 2rem 0; }
		}

		&-secondary {
			@include input-field;
			@include primary-button;

			margin: 1rem auto 2rem;
			width: fit-content;

			@media (min-width: $break-medium) { margin: 2rem 0; }
		}
	}

	&__numbers {
		background: $primary-super-transparent;
		padding: 1rem;
		text-align: center;
	}

	&__list {
		@media (min-width: $break-medium) {
			display: flex;
			justify-content: space-between;
		}

		&-wrap {
			@include container;

			@media (min-width: $break-large){
				margin: 4rem auto;
				width: 60%;
				max-width: $container;
			}
		}

		&-item {
			display: flex;
			align-items: center;
			gap: 2rem;

			@media (min-width: $break-large) { flex-direction: column; }

			p:first-child {
				@include title-1;
				
				color: $primary;
				margin: 0;
			}

			p:nth-child(2) {
				@include title-5;

				margin: 0;
				text-align: center;
				text-transform: uppercase;
			}

			img {
				width: 80px;
				height: 80px;

				@media (min-width: $break-large) { margin: 0 auto; }
			}
		}
	}

	&__voices {
		padding: 1rem;

		h2 {
			@include title-2;
			
			text-align: center;
			margin: 1rem auto;
		}
	}
	
	&__slider {
		div { padding: 1rem; }
		text-align: center;
	}

	&__card {
		display: flex;
		flex-direction: column;
		width: 100%;
		border-radius: $border-radius-medium;
		background-color: $white;
		box-shadow: $box-shadow;
		transition: all 160ms ease-in-out;
		margin-bottom: 1rem;
		color: $black;
		
		&:hover {
			transform: scale(1.04);
			box-shadow: $box-shadow-hover;
		}
		
		img {
			width: 100%;
			height: 240px;
			object-fit: cover;
			object-position: center;
			border-top-left-radius: $border-radius-medium;
			border-top-right-radius: $border-radius-medium;
		}

		blockquote:before { content: open-quote; }
		blockquote:after { content: close-quote; }
		blockquote { margin-bottom: 1rem; }

		@media (min-width: $break-small) { margin-bottom: 0; }
	}

	&__measures {
		background-color: $secondary-super-transparent;
		padding: 1rem;

		p { margin: 1rem auto; }

		&-title {
			@include title-2;

			text-transform: uppercase;
		}

		&-list {
			&-item {
				display: flex;
				align-items: start;
				gap: 1rem;
			}
		}
	}

	&__subtitle {
		@include title-3;

		font-size: 2rem;
		margin-bottom: 1rem;
	}
	
	&__button {
		@include input-field;
		@include secondary-button;
		
		display: inline-block;
		width: fit-content;
		margin-top: 1rem;
	}
	
	&__logos {
		margin: 0 4rem 4rem;
		
		@media (min-width: $break-large) { margin: 4rem; }

		&-title { @include title-3; }
	}
}
