@mixin container {
	width: 80%;
	max-width: $container;
	margin: 2rem auto;
}

@mixin container-small {
	width: 60%;
	max-width: 60%;
	margin: 4rem auto;
}

@mixin container-width {
	width: 80%;
	max-width: $container;
}
