@mixin primary-button {
	@include body-3;

	background-color: $primary;
	color: white;
	display: block;
	margin: auto;
	padding: .7rem 2rem;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
	cursor: pointer;

	&:hover { opacity: 0.9; }
}

@mixin secondary-button {
	@include body-3;

	background-color: transparent;
	border: 1px solid $primary;
	color: $primary;
	text-align: center;
	text-transform: uppercase;
	padding: .3rem 2rem;
	width: 100%;
	cursor: pointer;

	&:hover { color: $primary-light; }
}

@mixin tertiary-button {
	@include body-3;

	color: $primary;
	text-decoration: underline;
	text-transform: uppercase;
	cursor: pointer;
}

@mixin input-field {
	@include input-text;

	border: 0;
	border-radius: $border-radius-small;
	padding: .7rem;
	margin: .5rem 0;
}

@mixin date-input {
	@include input-text;

	border: 0;
	border-radius: $border-radius-small;
	background-color: $white;
	padding: .7rem;
	margin: .5rem 0;
	width: calc(98% / 3);
}

.password {
	display: flex;
	flex-direction: column;
	
	span { @include caption; }
}

.user_date_of_birth {
	display: flex;
	justify-content: space-between;
}

.hint {
	color: $gray-05;
	margin-left: 0.5rem;
}

button, a { cursor: pointer; }


textarea {
	border-radius: $border-radius-small;
	border: 1px solid $gray-02;
	padding: .5rem;
}