<div data-characteristics-filter-target="couches">
	<ul class="couches__list" data-characteristics-filter-target="couches">
		<% couches.each do |couch| %>
			<%= render 'partials/couch', couch: couch %>
		<% end %>
	</ul>
	<%= paginate @couches, remote: true %>
</div>