<div class="switch-button">
	<input class="switch-button-radio" type="radio" id="monthly" name="payment-plan" value="monthly" data-action="change->plans-toggle#switch">
	<label class="switch-button-label" for="monthly"><span class="switch-button-label-span">Paid Monthly</span></label>

	<input class="switch-button-radio" type="radio" id="six-monthly" name="payment-plan" value="six-monthly" data-action="change->plans-toggle#switch">
	<label class="switch-button-label" for="six-monthly"><span class="switch-button-label-span">Paid 6-Monthly</span></label>

	<input class="switch-button-radio" type="radio" id="yearly" name="payment-plan" value="yearly" checked data-action="change->plans-toggle#switch">
	<label class="switch-button-label" for="yearly"><span class="switch-button-label-span">Paid Yearly</span></label>
</div>