<h1>Request accepted!</h1>

<p>Nice, you confirmed the booking of <%= @guest.first_name %> who will now receive a notification with a payment request. Once paid, we will grant access to your address. You are contributing to a safer space for our most vulnerable travellers!<p>

<%= link_to "Keep Browsing", cities_path %>