<section class="confirmed">
	<h1 class="confirmed__title">Request accepted!</h1>
	<p>Nice, you confirmed the booking of <%= @guest.first_name %>. Feel free to chat about details with them in case you still have questions or just want to say hi!</p>
	<div class="confirmed__buttons">
		<%= link_to 'Back to guest overview', :back, class: 'confirmed__back' %>
		<%= link_to 'Browse couches', root_path, class: 'confirmed__link' %>
	</div>
</section>
