<h1>Your request has been sent!</h1>

<p>Your request was sent and now it is up to <%= @host.first_name %> to check the dates and your friendly message. Once she accepted your request, you are able to chat with her and get in touch about open questions and things and bananas.<p>

<%= link_to "Keep Browsing", cities_path %>