<% if notice %>
  <div class="flash" role="alert">
    <button type="button" class="flash__button" data-bs-dismiss="alert" aria-label="Close"></button>
    <%= notice %>
  </div>
<% end %>
<% if alert %>
  <div class="flash" role="alert">
    <button type="button" class="flash__button" data-bs-dismiss="alert" aria-label="Close"></button>
    <%= alert %>
  </div>
<% end %>
