<% if notice %>
  <div class="flash" role="alert" data-controller="close-modal" data-close-modal-target="modal">
    <%= notice %>
    <button type="button" class="flash__button" aria-label="Close" data-action="click->close-modal#closeModal">
      <i class="quouch-close" aria-label="Close icon"></i>
    </button>
  </div>
<% end %>
<% if alert %>
  <div class="flash" role="alert" data-controller="close-modal" data-close-modal-target="modal">
    <%= alert %>
    <button type="button" class="flash__button" aria-label="Close" data-action="click->close-modal#closeModal">
      <i class="quouch-close" aria-label="Close icon"></i>
    </button>
  </div>
<% end %>
