<nav class="navigation">
	<ul class="navigation__list">
		<li class="navigation__link"><%= link_to 'Browse', root_path %></li>
		<li class="navigation__link"><%= link_to 'Matches', root_path %></li>
		<li class="navigation__link"><%= link_to 'Profile', edit_user_registration_path(current_user) %></li>
	</ul>	
</nav>