<nav class="navigation">
	<ul class="navigation__list">
		<li class="navigation__link"><%= link_to 'Hosts', root_path %></li>
		<li class="navigation__link"><%= link_to 'Trips', bookings_path %></li>
		<li class="navigation__link"><%= link_to 'My Profile', couch_path(current_user.couch) %></li>
		<li class="navigation__link navigation__link--donation"><%= link_to 'Donate', 'https://buy.stripe.com/7sIdSL2DD5KV9zy3cc' %></li>
	</ul>	
</nav>