<nav class="navigation">
	<ul class="navigation__list">
		<li class="navigation__link"><%= link_to 'Hosts', root_path %></li>
		<li class="navigation__link"><%= link_to 'Requests', bookings_path %></li>
		<li class="navigation__link"><%= link_to 'Profile', couch_path(current_user.couch) %></li>
	</ul>	
</nav>