<div class="running-header">
	<div class="running-text">
		<%= link_to 'We need you!!! Your support can save the future of our beautiful queer travel community. Check out our crowdfunding campaign and the rewards you can get in return ðŸ† - Click here to back Quouch.', 'https://www.kickstarter.com/projects/norafromquouch/quouch-couch-surfing-for-queer-people-and-women/rewards' %>
	</div>
</div>