<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @host.first_name.capitalize %> cancelled the booking!</h1>
    <p>Your money will be refunded within 72943 working days.</p>
  </body>
</html>
