<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You stayed with <%= @host.first_name.capitalize %>! Tell us how it was.</h1>
    <%= link_to 'Leave review here', @url %>
  </body>
</html>
