<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>The request for your stay at <%= @host.first_name.capitalize %>'s place has declined!</h1>
  </body>
</html>
