<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.first_name.capitalize %> updated the booking and it requires new confirmation.</h1>
  </body>
</html>
