<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>The request from <%= @user.first_name.capitalize %> has been updated!</h1>
  </body>
</html>
