<section class="about">
	<h1 class="about__header">For Quouch, the world would be a better place if people of all genders and identities can live warmly accepted and fearlessly wherever they go.</h1>
	<div class="about__wrap">
		<p>There is this initial layer of trust and understanding that you as a member of the LGBTQIA+ community feel when you meet another queer person. It is really hard to find that by coincidence. Especially when travelling, you have to rely on your network.</p>
		<p>As a woman and/or queer person, travelling is connected to a higher risk. With Quouch, we provide an environment to be faster around people you feel warm and safe with.</p>
		<article class="about__team">
			<div class="about__member about__member--left">
				<%= image_tag('https://res.cloudinary.com/dtkxl0tbk/image/upload/v1681314512/nora.jpg') %>
				<div>
					<h2>Meet Nora (she/her). Founder</h2>
					<p>Nora used to travel a lot using Couchsurfing. At some point, she was fed up with the amount of creepy guys she was meeting. Especially as a queer woman, that was pretty annoying. She realized: It does not have to be like this. That was the start of Quouch. Aside, she performs and produces music as her alter ego "Herr Nora" (herrnora.com).</p>
				</div>
			</div>
			<div class="about__member about__member--right">
				<div>
					<h2>Meet Lisbeth (she/her). The tech brain</h2>
					<p>Responsible for bread and butter, heart and soul. Problem solver and in-house Genius, Lisbeth is building the app you soon will be using every time you travel. When she is not working, she is spending her entire time (and money) in Berlins clubs and Yoga studios. It literally IS either the one or the other.</p>
				</div>
				<%= image_tag('https://res.cloudinary.com/dtkxl0tbk/image/upload/v1681314406/lisbeth.jpg') %>
			</div>
			<div class="about__member about__member--left">
				<%= image_tag('https://res.cloudinary.com/dtkxl0tbk/image/upload/v1681314142/drew.jpg') %>
				<div>
					<h2>Meet Drew (they/he). Head of Marketing</h2>
					<p>Sorry this really sounds like some old man's sense of humour - though it's the truth! Drew is spreading the word of Quouch, organizing the most vibrant queer parties on the planet. He is responsible for everything Marketing related - during day light... at night, he performs drag and is the founder of a queer stripping collective.</p>
				</div>
			</div>
			<div class="about__member about__member--right">
				<div>
					<h2>Meet Babken (they/them). Art Director</h2>
					<p>Beautiful designs, our mascot QUCHI and flawless Social Media are naming only a few of the elements, Babken is responsible for. Being immensely talented in all kind of fields but having over all the artistic vision it requires to reach out to a community such as ours, Babken quickly became irreplaceable and we are SO HAPPY TO HAVE THEM ON BOARD.</p>
				</div>
				<%= image_tag('https://res.cloudinary.com/dtkxl0tbk/image/upload/v1690566869/Babken.jpg') %>
			</div>
		<article>
	</div>
</section>