<article class="general">
	<h1 class="general__header">FAQ</h1>
	<div class="general__wrap">
		<p class="general__subtitle">Got a question? We've got answers. If you have some other questions, contact us using our <%= link_to 'contact form', new_contact_path, class: 'faq-link' %>.</p>
		<h2>How do we make sure it's safe?</h2>
		<p>We decided to make Quouch an invite-only platform to start with. This way we ensure a sustainable growth of our community with people who truly resonate with our values. We believe the integrity of every single user on our platform is the basis of a safe and enjoyable experience.</p>
		<h2>How much does it cost?</h2>
		<p>Users will have to pay a small amount. We are testing the app in this moment and experiment with different models. It is important to us that you can travel as low budget as possible while maintaining the standards we promise - shared values, a safe environment and feeling truly connected to your host or traveller.</p>
		<h2>What is your vision in the long run?</h2>
		<p>We want there to be hosts available wherever you go, but that is only the beginning. There are so many spaces on this planet where we, as women and/or queer people do not really feel comfortable. Be it clubs, gyms or coworking spaces... We aim at designing and creating events and locations where, traveling to a new city, you still know you safely get your workout routine done or have a spot to work while meeting the people you really want to hang out with.</p>
		<h2>How can I get an invite code?</h2>
		<p>You can reach out to us at <%= mail_to 'hello@quouch.net' %>. Please write a short paragraph explaining why you would like to be part of Quouch.</p>
		<h2>How can I be involved?</h2>
		<p>We love to work together with ambassadors in any possible city. If you would like to host Quouch events (or anything else related to it) in your city, please reach out to us.</p>
		<h2>When do you launch?</h2>
		<p>The long awaited app will be out in all App Stores end of summer 2023.</p>
	</div>
</article>