<article class="general">
	<h1 class="general__header">Guidelines</h1>
	<div class="general__wrap">
		<p>Be friendly, be kind and be respectful.</p>
		<p>Ask for people's pronouns.</p>
		<p>Don’t upload profile pictures without a shirt.</p>
		<p>Only upload pictures where you are clearly visible.</p>
		<p>Nobody, neither host nor traveller, is obliged to spend time with you and you are not obliged to spend time with them.</p>
		<p>As a Traveller: Your host shares their home with you - sometimes just to support you with a place to sleep but not necessarily capacity to spend time with you. Be independent and with the ability to follow your own plans if necessary. Show respect and responsibility for the place around you.</p>
		<p>As a host: Remember how you felt as a traveller - sometimes you are exhausted and would love to just chill and do your own thing. This is not a: “You sleep for free at my place, so we hang out” deal. Ideally though, you both show interest in one another. Ultimately, Quouch is supposed to connect you with people. Still, sometimes you might feel differently and that is totally fine. Be aware though that Quouch is not meant to be only a solution to travel cheaply. We would love you to want to meet each other - if you really can’t be bothered, consider booking a hostel bed or Airbnb.</p>
		<p>People using Quouch are often gender non-conforming. If somebody behaves in a way you are not used to, give space. Don’t bother them with having to teach or explain things to you. Accept your guests or hosts warmly and reassure yourself what their needs might be when feeling unclear. It is ok to make mistakes and we are all a product of the world we are being made of, still, you are responsible for your actions and we ask you to be mindful.</p>
		<p>We created those guidelines with the best intentions, but we also make mistakes. If you feel something else should be added here or that we expressed something badly, please let us know at <%= mail_to 'hello@quouch.net' %>. We really appreciate it.</p>
	</div>
</article>