<article class="general">
  <h1 class="general__header">Guidelines</h1>
  <div class="general__wrap guidelines">
    <p class="general__supertitle">If you identify as a cis, straight, dyadic (non-intersex) man, please respect that this space is not for you - we can recommend any other travel app!</p>
    <h2 class="general__title">Community</h2>
    <ul class="general__list">
      <li>Be friendly, be kind and be respectful.</li>
      <li><strong>Respect people's pronouns</strong> and always ask.</li>
      <li><strong>This is not a dating app!</strong> We obviously cannot prevent true romantic or friendship connections when you use the app and meet in real life - but being sexually forward on the app will get you banned.</li>
      <li>Nobody, neither traveller or host, is obliged to spend time with you and <strong>you are not obliged to spend time with them.</strong></li>
      <li>Be aware of your privileges! <strong>What might be a curiosity to you, may be exhausting and invasive to someone else.</strong> This is the one main reason that marginalised groups do not feel as comfortable couchsurfing and we are here to try to break this.</li>
      <li><strong>Always discuss boundaries</strong> and hard “no”s!</li>
    </ul>
    <h2 class="general__title">Safety</h2>
    <ul class="general__list">
      <li>Don't upload photos of yourself or others topless, your genitals or doing sexual acts. <strong>We support sexual freedom but Quouch is not the space to upload this</strong> kind of content.</li>
      <li>Please upload <strong>a clear photo of yourself.</strong> Would you trust someone else who didn't show a picture of themselves?</li>
      <li>Quouch is built on trust. If you are a woman or queer person using our space - please respect this and <strong>don't invite any cis, straight, dyadic (non-intersex) men with your invite code.</strong></li>
      <li>There are marginalised communities on Quouch that face more danger and hatred than cis, white, straight, dyadic women, who also use our app, and will be understandably less trusting if staying with someone with more privilege than themselves. <strong>If you have privileges, it is one thing to be aware of them - and another to practice.</strong> No one should have to explain things to you, be stared at when doing something unique to their community or made to feel unsafe, gross or fetishised.</li>
    </ul>
    <h2 class="general__title">Travellers</h2>
    <ul class="general__list">
      <li>Show responsibility and <strong>respect to your host's space.</strong></li>
      <li>It is naturally expected for you to <strong>clean up after yourself quickly.</strong></li>
      <li>Hosts may send their own rules to you beforehand - please <strong>follow these and respect your host!</strong></li>
      <li>Your host might not be able to spend time with you all the time! <strong>Be prepared to create plans, leave the home sometimes when asked and perhaps change your usual routine.</strong></li>
      <li><strong>Don't bring any other person around the host's space without their explicit consent.</strong> Especially if you intend to bring a cis, straight, dyadic (non-intersex) man over.</li>
    </ul>
    <h2 class="general__title">Hosts</h2>
    <ul class="general__list">
      <li><strong>Respect your guest's space!</strong> They are in your space but are not obliged to hang out with you and should still be permitted some privacy.</li>
      <li>If someone is staying on your couch in a shared space - i.e. a shared flat, shared room, then please specify this to your guest and <strong>clarify anything that might happen during their stay</strong>, for example, big parties, smoking, drinking etc. and get their consent and confirmation.</li>
      <li>If you have specific needs regarding cleaning, schedules, showers, anything, <strong>please let your guest know well in advance.</strong></li>
      <li><strong>If there is anyone else sharing your space i.e. you have a shared apartment, please let your guest know in advance of them booking with you.</strong> Especially if you share a space with a cis, straight, dyadic (non-intersex) man.</li>
      <li>This is the same with bringing people around - if you have written that you are personally trans friendly, then please make sure that you don't bring someone around that is a TERF or transphobic. If you have written you are SW Friendly, don't bring a SWERF around. You <strong>are your space when using Quouch.</strong></li>
    </ul>
    <h2 class="general__title">Filters</h2>
    <p>The filters we have in place perhaps don’t suit or fit everyone and that is OK! You aren’t a bad person for not identifying with them or using them - <strong>these are only for those who need them.</strong></p>
    <p>When using the filters - think <strong>“do I identify with this?”</strong> i.e. if you click “Trans Only” then you identify with being transgender. <strong>If you are cisgender but support transgender people - that’s great! But please don’t click on this filter as this is purely for transgender people to find each other and each other only.</strong></p>
    <p>Likewise, for BIPOC Only (Black, Indigenous, People of Colour), neurodiverse, SW Friendly (s** w*rk friendly), Queer, Intersex, GNC (gender non-conforming) etc. - please <strong>only click on the filter if it applies to you, even if you have good intentions.</strong> “I might not be ___ but I support ___ and would want to host them!” Of course! We know that the people on our platform are some of the most inclusive in the world - but <strong>let the people you support actively choose you.</strong></p>
    <p><strong>You can only be warm, inviting and honest</strong> - which means click only on the filters that apply to you and write how open you are in your description instead!</p>
    <p class="general__important">We created these guidelines with good intentions but we also will make mistakes. If you feel something else should be added here or that we expressed something badly, please let us know at <%= mail_to 'hello@qouch-app.com' %>. We really appreciate feedback!</p>
    <aside>Disclaimer: Quouch is trying to build a community of trust and support but not everything goes according to plan and we are not liable for any damages or accidents that occur during home stays.</aside>
  </div>
</article>
