<article class="general">
	<h1 class="general__header">Guidelines</h1>
	<div class="general__wrap guidelines">
		<p class="guidelines__supertitle">If you identify as a cis, straight, dyadic (non-intersex) man, please respect that this space is not for you - we can recommend any other travel app!</p>
		<h2>Community</h2>
		<ul class="guidelines__list">
			<li>Be friendly, be kind and be respectful.</li>
			<li>Respect people's pronouns and always ask.</li>
			<li>This is not a dating app! We obviously cannot prevent true romantic or friendship connections when you use the app and meet in real life - but being sexually forward on the app will get you banned.</li>
			<li>Nobody, neither traveller or host, is obliged to spend time with you and you are not obliged to spend time with them.</li>
			<li>Be aware of your privileges! What might be a curiosity to you, may be exhausting and invasive to someone else. This is the one main reason that marginalised groups do not feel as comfortable couchsurfing and we are here to try to break this.</li>
			<li>Always discuss boundaries and hard “no”s!</li>
		</ul>
		<h2>Safety</h2>
		<ul class="guidelines__list">
			<li>Don't upload photos of yourself or others topless, your genitals or doing sexual acts. We support sexual freedom but Quouch is not the space to upload this kind of content.</li>
			<li>Please upload a clear photo of yourself. Would you trust someone else who didn't show a picture of themselves?</li>
			<li>Quouch is built on trust. If you are a woman or queer person using our space - please respect this and don't invite any cis, straight, dyadic (non-intersex) men with your invite code.</li>
			<li>There are marginalised communities on Quouch that face more danger and hatred than cis, white, straight, dyadic women, who also use our app, and will be understandably less trusting if staying with someone with more privilege than themselves. If you have privileges, it is one thing to be aware of them - and another to practice. No one should have to explain things to you, be stared at when doing something unique to their community or made to feel unsafe, gross or fetishised.</li>
		</ul>
		<h2>Travellers</h2>
		<ul class="guidelines__list">
			<li>Show responsibility and respect to your host's space.</li>
			<li>It is naturally expected for you to clean up after yourself quickly.</li>
			<li>Hosts may send their own rules to you beforehand - please follow these and respect your host!</li>
			<li>Your host might not be able to spend time with you all the time! Be prepared to create plans, leave the home sometimes when asked and perhaps change your usual routine.</li>
			<li>Don't bring any other person around the host's space without their explicit consent. Especially if you intend to bring a cis, straight, dyadic (non-intersex) man over.</li>
		</ul>
		<h2>Hosts</h2>
		<ul class="guidelines__list">
			<li>Respect your guest's space! They are in your space but are not obliged to hang out with you and should still be permitted some privacy.</li>
			<li>If someone is staying on your couch in a shared space - i.e. a shared flat, shared room, then please specify this to your guest and clarify anything that might happen during their stay, for example, big parties, smoking, drinking etc. and get their consent and confirmation.</li>
			<li>If you have specific needs regarding cleaning, schedules, showers, anything, please let your guest know well in advance.</li>
			<li>If there is anyone else sharing your space i.e. you have a shared apartment, please let your guest know in advance of them booking with you. Especially if you share a space with a cis, straight, dyadic (non-intersex) man.</li>
			<li>This is the same with bringing people around - if you have written that you are personally trans friendly, then please make sure that you don't bring someone around that is a TERF or transphobic. If you have written you are SW Friendly, don't bring a SWERF around. You <strong>are</strong> your space when using Quouch.</li>
		</ul>

		<p>We created these guidelines with good intentions but we also will make mistakes. If you feel something else should be added here or that we expressed something badly, please let us know at <%= mail_to 'hello@quouch.net' %>. We really appreciate feedback!</p>
		<aside>Disclaimer: Quouch is trying to build a community of trust and support but not everything goes according to plan and we are not liable for any damages or accidents that occur during home stays.</aside>
	</div>
</article>