<section class="general">
	<h1 class="general__header">Impressum</h1>
	<div class="general__wrap">
		<h2>Name und Anschrift des für die Verarbeitung Verantwortlichen</h2>
		<p>Verantwortlicher im Sinne der Datenschutz-Grundverordnung, sonstiger in den Mitgliedstaaten der Europäischen Union geltenden Datenschutzgesetze und anderer Bestimmungen mit datenschutzrechtlichem Charakter ist die:</p>
		<p>Quouch UG (haftungsbeschränkt)</p>
		<p>Luisenstraße 53</p>
		<p>10117 Berlin</p>
		<p>Deutschland</p>
		<p>E-Mail: hello.quouch@gmail.com</p>
	</div>
</section>