<section class="general">
	<h1 class="general__header">Privacy Policy</h1>
	<div class="general__wrap">
		<p>We are very pleased about your interest in our company. Data protection is of a particularly high priority for the management of the Quouch. The use of the Internet pages of the Quouch is possible without any indication of personal data. However, if a data subject wants to use special services of our enterprise via our website, processing of personal data could become necessary. If processing of personal data is necessary and there is no legal basis for such processing, we will generally obtain the consent of the data subject.</p>
		<p>The processing of personal data, such as the name, address, e-mail address, or telephone number of a data subject shall always be in line with the country-specific data protection regulations applicable to the Quouch. By means of this data protection declaration, our enterprise would like to inform the public about the type, scope and purpose of the personal data we collect, use and process. As the controller, the Quouch has implemented numerous technical and organizational measures to ensure the most complete protection of personal data processed through this website. Nevertheless, Internet-based data transfers can always be subject to security vulnerabilities, so that absolute protection cannot be guaranteed. For this reason, every data subject is free to transmit personal data to us by alternative means, for example by telephone.</p>
		<ol>
			<li>
				<h2>1. Definitions</h2>
				<p>The data protection declaration of Quouch is based on the terms used by the European Directive and Ordinance when issuing the General Data Protection Regulation (GDPR). Our data protection declaration should be easy to read and understand for the public as well as for our customers and business partners. To ensure this, we would like to explain the terms used in advance.We use the following terms, among others, in this data protection declaration:</p>
				<ul>
					<li>
						<p>a) Personal Data</p>
						<p>Personal data is any information relating to an identified or identifiable natural person (hereinafter "data subject"). An identifiable natural person is one who can be identified, directly or indirectly, in particular by reference to an identifier such as a name, an identification number, location data, an online identifier or to one or more factors specific to the physical, physiological, genetic, mental, economic, cultural or social identity of that natural person.</p>
					</li>
					<li>
						<p>b) Person Concerned</p>
						<p>Data subject is any identified or identifiable natural person whose personal data are processed by the controller.</p>
					</li>
					<li>
						<p>c) Processing</p>
						<p>Processing means any operation or set of operations which is performed upon personal data, whether or not by automatic means, such as collection, recording, organization, filing, storage, adaptation or alteration, retrieval, consultation, use, disclosure by transmission, dissemination or otherwise making available, alignment or combination, restriction, erasure or destruction.</p>
					</li>
					<li>
						<p>d) Restriction of Processing</p>
						<p>Restriction of processing is the marking of stored personal data with the aim of limiting their future processing.</p>
					</li>
					<li>
						<p>e) Profiling</p>
						<p>Profiling is any type of automated processing of personal data that consists of using such personal data to evaluate certain personal aspects relating to a natural person, in particular to analyze or predict aspects relating to that natural person's job performance, economic situation, health, personal preferences, interests, reliability, behavior, location or change of location.</p>
					</li>
					<li>
						<p>f) Pseudonymization</p>
						<p>Pseudonymization is the processing of personal data in such a way that the personal data can no longer be attributed to a specific data subject without the use of additional information, provided that such additional information is kept separate and is subject to technical and organizational measures to ensure that the personal data is not attributed to an identified or identifiable natural person.</p>
					</li>
					<li>
						<p>g) Controller or person responsible for the processing</p>
						<p>The controller or controller is the natural or legal person, public authority, agency or other body which alone or jointly with others determines the purposes and means of the processing of personal data. Where the purposes and means of such processing are determined by Union or Member State law, the controller or the specific criteria for its designation may be provided for under Union or Member State law.</p>
					</li>
					<li>
						<p>h) Processor</p>
						<p>Processor means a natural or legal person, public authority, agency or other body that processes personal data on behalf of the Controller.</p>
					</li>
					<li>
						<p>i) Receiver</p>
						<p>A recipient is a natural or legal person, public authority, agency or other body to whom personal data are disclosed, whether or not a third party. However, public authorities that may receive personal data in the context of a specific investigation mandate under Union or Member State law shall not be considered as recipients.</p>
					</li>
					<li>
						<p>j) Third Party</p>
						<p>Third party means a natural or legal person, public authority, agency or other body other than the data subject, the controller, the processor and the persons authorized to process the personal data under the direct responsibility of the controller or the processor.</p>
					</li>
					<li>
						<p>k) Consent</p>
						<p>Consent shall mean any freely given indication of the data subject's wishes for the specific case in an informed and unambiguous manner in the form of a statement or any other unambiguous affirmative act by which the data subject indicates that he or she consents to the processing of personal data relating to him or her.</p>
					</li>
				</ul>
			</li>
			<li>
				<h2>2. Name and Address of the Processor</h2>
				<p>The responsible party within the meaning of the General Data Protection Regulation, other data protection laws applicable in the Member States of the European Union and other provisions of a data protection nature is:</p>
				<p>Quouch GbR</p>
				<p>Luisenstraße 53</p>
				<p>10117 Berlin</p>
				<p>Deutschland</p>
				<p>E-Mail: hello@quouch.net</p>
			</li>
			<li>
				<h2>3. Cookies</h2>
				<p>The internet pages of Quouch use cookies. Cookies are text files that are placed and stored on a computer system via an Internet browser.</p>
				<p>Numerous websites and servers use cookies. Many cookies contain a so-called cookie ID. A cookie ID is a unique identifier of the cookie. It consists of a string of characters by which Internet pages and servers can be assigned to the specific Internet browser in which the cookie was stored. This enables the visited Internet pages and servers to distinguish the individual browser of the data subject from other Internet browsers that contain other cookies. A specific Internet browser can be recognized and identified through the unique cookie ID.Through the use of cookies, the Quouch can provide the users of this website with more user-friendly services that would not be possible without the cookie setting.</p>
				<p>By means of a cookie, the information and offers on our website can be optimized in the sense of the user. Cookies allow us, as already mentioned, to recognize the users of our website. The purpose of this recognition is to make it easier for users to use our website. For example, the user of a website that uses cookies does not have to re-enter his or her access data each time he or she visits the website, because this is handled by the website and the cookie stored on the user's computer system. Another example is the cookie of a shopping cart in an online store. The online store remembers the items that a customer has placed in the virtual shopping cart via a cookie.</p>.
				<p>The data subject can prevent the setting of cookies by our website at any time by means of an appropriate setting of the Internet browser used and thus permanently object to the setting of cookies. Furthermore, cookies that have already been set can be deleted at any time via an Internet browser or other software programs. This is possible in all common Internet browsers. If the data subject deactivates the setting of cookies in the Internet browser used, not all functions of our website may be fully usable.</p>
			</li>
			<li>
				<h2>4. Collection of General Data and Information</h2>
				<p>The website of the Quouch collects a series of general data and information with each call-up of the website by a data subject or automated system. This general data and information is stored in the log files of the server. The following data may be collected: (1) the browser types and versions used, (2) the operating system used by the accessing system, (3) the website from which an accessing system accesses our website (so-called referrer), (4) the sub-websites that are accessed via an accessing system on our website, (5) the date and time of an access to the website, (6) an Internet protocol address (IP address), (7) the Internet service provider of the accessing system and (8) other similar data and information that serve to avert danger in the event of attacks on our information technology systems. When using these general data and information, the Quouch does not draw any conclusions about the data subject. Rather, this information is needed (1) to deliver the contents of our website correctly, (2) to optimize the contents of our website and the advertising for these, (3) to ensure the long-term functionality of our information technology systems and the technology of our website, and (4) to provide law enforcement authorities with the information necessary for prosecution in the event of a cyber attack. Therefore, the Quouch analyzes anonymously collected data and information on one hand, statistically, and on the other hand, with the aim of increasing the data protection and data security of our enterprise, and ultimately ensuring an optimal level of protection for the personal data we process. The anonymous data of the server log files are stored separately from any personal data submitted by a data subject.</p>
			</li>
			<li>
				<h2>5. Registration on our Website</h2>
				<p>The data subject has the opportunity to register on the website of the controller by providing personal data. Which personal data is transmitted to the controller in the process is determined by the respective input mask used for the registration. The personal data entered by the data subject are collected and stored exclusively for internal use by the controller and for its own purposes. The controller may arrange for the data to be transferred to one or more processors, for example a parcel service provider, who will also use the personal data exclusively for an internal use attributable to the controller.</p>
				<p>By registering on the website of the controller, the IP address assigned by the Internet service provider (ISP) of the data subject, the date and the time of registration are also stored. The storage of this data takes place against the background that only in this way can the misuse of our services be prevented and, if necessary, this data makes it possible to clarify crimes that have been committed. In this respect, the storage of this data is necessary for the protection of the data controller. As a matter of principle, this data is not passed on to third parties unless there is a legal obligation to pass it on or the passing on serves the purpose of criminal prosecution.</p>
				<p>The registration of the data subject by voluntarily providing personal data serves the purpose of the controller to offer the data subject content or services which, due to the nature of the matter, can only be offered to registered users. Registered persons are free to modify the personal data provided during registration at any time or to have it completely deleted from the data stock of the controller.</p>
				<p>The controller shall provide any data subject at any time, upon request, with information about what personal data is stored about the data subject. Furthermore, the controller shall correct or delete personal data at the request or indication of the data subject, provided that this does not conflict with any statutory retention obligations. The entire staff of the controller shall be available to the data subject as contact persons in this context.</p>
			</li>
			<li>
				<h2>6. Subscription to our newsletter</h2>
				<p>On the website of the Quouch, users are given the opportunity to subscribe to our enterprise's newsletter. The personal data transmitted to the controller when the newsletter is ordered is specified in the input mask used for this purpose.The Quouch informs its customers and business partners at regular intervals by means of a newsletter about enterprise offers. The newsletter of our enterprise can basically only be received by the data subject, if (1) the data subject has a valid e-mail address and (2) the data subject registers for the newsletter mailing. For legal reasons, a confirmation e-mail will be sent to the e-mail address entered by a data subject for the first time for newsletter dispatch using the double opt-in procedure. This confirmation e-mail serves to verify whether the owner of the e-mail address as the data subject has authorized the receipt of the newsletter.</p>
				<p>When registering for the newsletter, we also store the IP address of the computer system used by the data subject at the time of registration, as assigned by the Internet service provider (ISP), as well as the date and time of registration. The collection of this data is necessary in order to be able to trace the (possible) misuse of the e-mail address of a data subject at a later point in time and therefore serves the legal safeguarding of the controller.</p>
				<p>The personal data collected in the context of a registration for the newsletter will be used exclusively for sending our newsletter. Furthermore, subscribers to the newsletter could be informed by e-mail if this is necessary for the operation of the newsletter service or a related registration, as could be the case in the event of changes to the newsletter offer or changes in the technical circumstances. No personal data collected as part of the newsletter service will be passed on to third parties. The subscription to our newsletter can be cancelled by the data subject at any time. The consent to the storage of personal data that the data subject has given us for the newsletter mailing can be revoked at any time. For the purpose of revoking consent, a corresponding link can be found in each newsletter. Furthermore, it is also possible to unsubscribe from the newsletter mailing directly on the website of the controller at any time or to notify the controller of this in another way.</p>
			</li>
			<li>
				<h2>7. Newsletter-Tracking</h2>
				<p>The Quouch newsletter contains so-called tracking pixels. A tracking pixel is a miniature graphic that is embedded in such emails that are sent in HTML format to enable log file recording and log file analysis. This allows a statistical evaluation of the success or failure of online marketing campaigns. Based on the embedded tracking pixel, the Quouch may see if and when an e-mail was opened by a data subject, and which links in the e-mail were called up by the data subject.</p>
				<p>Such personal data collected via the tracking pixels contained in the newsletters are stored and evaluated by the controller in order to optimize the newsletter dispatch and to better adapt the content of future newsletters to the interests of the data subject. This personal data will not be disclosed to third parties. Data subjects are entitled at any time to revoke the separate declaration of consent given in this regard via the double opt-in procedure. After a revocation, this personal data will be deleted by the controller. The Quouch automatically regards a withdrawal from the receipt of the newsletter as a revocation.</p>
			</li>
			<li>
				<h2>8. Contact Possibility via the Website</h2>
				<p>Based on statutory provisions, the website of the Quouch contains information that enables a quick electronic contact to our enterprise, as well as direct communication with us, which also includes a general address of the so-called electronic mail (e-mail address). If a data subject contacts the controller by e-mail or by using a contact form, the personal data transmitted by the data subject will be stored automatically. Such personal data transmitted on a voluntary basis by a data subject to the controller will be stored for the purposes of processing or contacting the data subject. No disclosure of this personal data to third parties will take place.</p>
			</li>
			<li>
				<h2>9. Routine Deletion and Blocking of Personal Data</h2>
				<p>The controller shall process and store personal data of the data subject only for the period necessary to achieve the purpose of storage or where provided for by the European Directive and Regulation or other legislator in laws or regulations to which the controller is subject.</p>
				<p>If the purpose of storage no longer applies or if a storage period prescribed by the European Directive and Regulation or another competent legislator expires, the personal data will be routinely blocked or deleted in accordance with the statutory provisions.</p>
			</li>
			<li>
				<h2>10. Right to the Data Subject</h2>
				<ul>
					<li>
						<p>a) Right to Confirmation</p>
						<p>Every data subject shall have the right, granted by the European Directive and the Regulation, to obtain confirmation from the controller as to whether personal data concerning him or her are being processed. If a data subject wishes to exercise this right, he or she may, at any time, contact any employee of the controller.</p>
					</li>
					<li>
						<p>b) Right to Information</p>
						<p>Any person concerned by the processing of personal data has the right granted by the European Directive and Regulation to obtain at any time from the controller, free of charge, information about the personal data stored about him or her and a copy of that information. Furthermore, the European Directive and Regulation has granted the data subject access to the following information:</p>
						<ul>
							<li>- the processing purposes</li>
							<li>- the categories of personal data that are processed</li>
							<li>- the recipients or categories of recipients to whom the personal data have been or will be disclosed, in particular in the case of recipients in third countries or international organizations</li>
							<li>- if possible, the planned duration for which the personal data will be stored or, if this is not possible, the criteria for determining this duration</li>
							<li>- the existence of a right to obtain the rectification or erasure of personal data concerning him or her, or the restriction of processing by the controller, or a right to object to such processing</li>
							<li>- the existence of a right of appeal to a supervisory authority</li>
							<li>- if the personal data are not collected from the data subject: Any available information about the origin of the dataThe existence of automated decision-making, including profiling, pursuant to Article 22(1) and (4) of the GDPR and, at least in these cases, meaningful information about the logic involved and the scope and intended effects of such processing for the data subject.</li>
						</ul>
						<p>Furthermore, the data subject shall have the right to obtain information as to whether personal data have been transferred to a third country or to an international organization. If this is the case, the data subject also has the right to obtain information about the appropriate safeguards in connection with the transfer.</p>
						<p>If a data subject wishes to exercise this right of access, he or she may, at any time, contact any employee of the controller.</p>
					</li>
					<li>
						<p>c) Right to Rectification</p>
						<p>Any person affected by the processing of personal data has the right granted by the European Directive and Regulation to request the immediate rectification of inaccurate personal data concerning him or her. Furthermore, the data subject has the right to request the completion of incomplete personal data - also by means of a supplementary declaration - taking into account the purposes of the processing.</p>
						<p>If a data subject wishes to exercise this right to rectify, he or she may, at any time, contact any employee of the controller.</p>
					</li>
					<li>
						<p>d) Right to Erasure (Right to be Forgotten)</p>
						<p>Any person concerned by the processing of personal data has the right, granted by the European Directive and Regulation, to obtain from the controller the erasure without delay of personal data concerning him or her, where one of the following reasons applies and insofar as the processing is not necessary:</p>
						<ul>
							<li>- The personal data were collected or otherwise processed for purposes for which they are no longer necessary.</li>
							<li>- The data subject revokes the consent on which the processing was based pursuant to Art. 6(1)(a) DS-GVO or Art. 9(2)(a) DS-GVO and there is no other legal basis for the processing.</li>
							<li>- The data subject objects to the processing pursuant to Article 21(1) of the GDPR and there are no overriding legitimate grounds for the processing, or the data subject objects to the processing pursuant to Article 21(2) of the GDPR.</li>
							<li>- The personal data have been processed unlawfully.</li>
							<li>- The deletion of the personal data is necessary for compliance with a legal obligation under Union or Member State law to which the controller is subject.</li>
							<li>- The personal data was collected in relation to information society services offered pursuant to Art. 8 (1) DS-GVO.</li>
						</ul>
						<p>If one of the aforementioned reasons applies, and a data subject wishes to arrange for the deletion of personal data stored by the Quouch, he or she may, at any time, contact any employee of the controller. The employee of the Quouch shall arrange for the erasure request to be complied with immediately.</p>
						<p>If the personal data have been made public by the Quouch and our enterprise as the controller is obliged to erase the personal data pursuant to Article 17 (1) of the Data Protection Regulation, the Quouch shall implement reasonable measures, including technical measures, to compensate other data controllers for processing the published personal data, taking into account the available technology and the costs of implementation, in order to inform the data subject that the data subject has requested from those other data controllers to erase all links to the personal data or copies or replications of the personal data, unless the processing is necessary. The employee of the Quouch will arrange the necessary in individual cases.</p>
					</li>
					<li>
						<p>e) Right to Restriction of Processing</p>
						<p>Any person concerned by the processing of personal data has the right, granted by the European Directive and the Regulation, to obtain from the controller the restriction of processing if one of the following conditions is met:</p>
						<ul>
							<li>- The accuracy of the personal data is contested by the data subject for a period enabling the controller to verify the accuracy of the personal data.</li>
							<li>- The processing is unlawful, the data subject objects to the erasure of the personal data and requests instead the restriction of the use of the personal data.</li>
							<li>- The controller no longer needs the personal data for the purposes of processing, but the data subject needs it for the assertion, exercise or defense of legal claims.</li>
							<li>- The data subject has objected to the processing pursuant to Article 21(1) of the GDPR and it is not yet clear whether the legitimate grounds of the controller override those of the data subject.</li>
							<p>If one of the aforementioned conditions is met, and a data subject wishes to request the restriction of personal data stored by the Quouch, he or she may, at any time, contact any employee of the controller. The employee of the Quouch will arrange the restriction of the processing.</p>
						</ul>
					</li>
					<li>
						<p>f) Right to Data Portability</p>
						<p>Any person concerned by the processing of personal data has the right, granted by the European Directive and Regulation, to receive the personal data concerning him or her, which have been provided by the data subject to a controller, in a structured, commonly used and machine-readable format. He or she also has the right to transmit this data to another controller without hindrance from the controller to whom the personal data have been provided, provided that the processing is based on consent pursuant to Article 6(1)(a) of the GDPR or Article 9(2)(a) of the GDPR or on a contract pursuant to Article 6(1)(b) of the GDPR and the processing is carried out by automated means, unless the processing is necessary for the performance of a task carried out in the public interest or in the exercise of official authority vested in the controller.</p>
						<p>Furthermore, when exercising his or her right to data portability pursuant to Article 20(1) of the GDPR, the data subject shall have the right to obtain that the personal data be transferred directly from one controller to another controller, to the extent that this is technically feasible and provided that this does not adversely affect the rights and freedoms of other individuals.</p>
						<p>In order to assert the right to data portability, the data subject may at any time contact any employee of the Quouch.</p>
					</li>
					<li>
						<p>g) Right to Object</p>
						<p>Any person affected by the processing of personal data has the right granted by the European Directive and Regulation to object at any time, on grounds relating to his or her particular situation, to the processing of personal data concerning him or her carried out on the basis of Article 6(1)(e) or (f) of the GDPR. This also applies to profiling based on these provisions.</p>
						<p>Quouch shall no longer process the personal data in the event of the objection, unless we can demonstrate compelling legitimate grounds for the processing which override the interests, rights and freedoms of the data subject, or for the assertion, exercise or defense of legal claims.</p>
						<p>If the Quouch processes personal data for direct marketing purposes, the data subject shall have the right to object at any time to processing of personal data processed for such marketing. This also applies to the profiling, insofar as it is related to such direct marketing. If the data subject objects to the Quouch to the processing for direct marketing purposes, the Quouch will no longer process the personal data for these purposes.</p>
						<p>In addition, the data subject has the right, on grounds relating to his or her particular situation, to object to processing of personal data concerning him or her which is carried out by the Quouch for scientific or historical research purposes, or for statistical purposes pursuant to Article 89(1) of the Data Protection Regulation, unless the processing is necessary for the performance of a task carried out for reasons of public interest. In order to exercise the right to object, the data subject may directly contact any employee of the Quouch or another employee. The data subject is also free to exercise his/her right to object by means of automated procedures using technical specifications in connection with the use of information society services, notwithstanding Directive 2002/58/EC.</p>
					</li>
					<li>
						<p>h) Automated Decisions in Individual Cases Including Profiling</p>
						<p>Any data subject concerned by the processing of personal data shall have the right, granted by the European Directive and the Regulation, not to be subject to a decision based solely on automated processing, including profiling, which produces legal effects concerning him or her or similarly significantly affects him or her, unless the decision (1) is necessary for entering into, or the performance of, a contract between the data subject and the controller, or (2) is permitted by Union or Member State law to which the controller is subject and that law contains suitable measures to safeguard the data subject's rights and freedoms and legitimate interests, or (3) is based on the data subject's explicit consent.</p>
						<p>If the decision (1) is necessary for entering into, or the performance of, a contract between the data subject and the data controller, or (2) it is made with the data subject's explicit consent, the Quouch shall implement suitable measures to safeguard the data subject's rights and freedoms and legitimate interests, which include at least the right to obtain the data subject's involvement on the part of the controller, to express his or her point of view and to contest the decision.</p>
						<p>If the data subject wishes to exercise the rights concerning automated decisions, he or she may, at any time, contact any employee of the controller.</p>
					</li>
					<li>
						<p>i) Right to Revoke Consent Under Data Protection Law</p>
						<p>Any person affected by the processing of personal data has the right granted by the European Directive and Regulation to withdraw consent to the processing of personal data at any time.</p>
						<p>If the data subject wishes to exercise the right to withdraw the consent, he or she may, at any time, contact any employee of the controller.</p>
					</li>
				</ul>
			</li>
			<li>
				<h2>11. Data Protection During Applications and the Application Process</h2>
				<p>The controller collects and processes the personal data of applicants for the purpose of handling the application procedure. The processing may also take place electronically. This is the case, in particular, when an applicant submits relevant application documents to the controller by electronic means, for example, by e-mail or via a web form located on the website. If the controller concludes an employment contract with an applicant, the transmitted data will be stored for the purpose of processing the employment relationship in compliance with the statutory provisions. If the controller does not conclude an employment contract with the applicant, the application documents will be automatically deleted two months after notification of the rejection decision, provided that no other legitimate interests of the controller conflict with such deletion. Other legitimate interest in this sense is, for example, a duty to provide evidence in proceedings under the General Equal Treatment Act (AGG).</p>
			</li>
			<li>
				<h2>12. Legal Basis of Processing</h2>
				<p>Article 6 I lit. a DS-GVO serves our company as the legal basis for processing operations in which we obtain consent for a specific processing purpose. If the processing of personal data is necessary for the performance of a contract to which the data subject is a party, as is the case, for example, with processing operations that are necessary for the delivery of goods or the provision of another service or consideration, the processing is based on Article 6 I lit. b DS-GVO. The same applies to such processing operations that are necessary for the implementation of pre-contractual measures, for example in cases of inquiries about our products or services. If our company is subject to a legal obligation by which a processing of personal data becomes necessary, such as for the fulfillment of tax obligations, the processing is based on Art. 6 I lit. c DS-GVO. In rare cases, the processing of personal data might become necessary to protect vital interests of the data subject or another natural person. This would be the case, for example, if a visitor were to be injured on our premises and as a result his or her name, age, health insurance data or other vital information had to be passed on to a doctor, hospital or other third party. Then the processing would be based on Art. 6 I lit. d DS-GVO. Finally, processing operations could be based on Art. 6 I lit. f DS-GVO. Processing operations that are not covered by any of the aforementioned legal bases are based on this legal basis if the processing is necessary to protect a legitimate interest of our company or a third party, provided that the interests, fundamental rights and freedoms of the data subject are not overridden. Such processing operations are permitted to us in particular because they were specifically mentioned by the European legislator. In this respect, it took the view that a legitimate interest could be assumed if the data subject is a customer of the controller (recital 47 sentence 2 DS-GVO).</p>
			</li>
			<li>
				<h2>13. Legitimate Interests in the Processing Pursued by the Controller or a Third Party</h2>
				<p>If the processing of personal data is based on Article 6 I lit. f DS-GVO, our legitimate interest is the performance of our business activities for the benefit of the well-being of all our employees and our shareholders.</p>
			</li>
			<li>
				<h2>14. Duration for which the personal Data are stored</h2>
				<p>The criterion for the duration of storage of personal data is the respective statutory retention period. After expiry of the period, the corresponding data is routinely deleted, provided that it is no longer required for the fulfillment or initiation of the contract.</p>
			</li>
			<li>
				<h2>15. Legal or contractual requirements to provide the personal data; necessity for the conclusion of the contract; obligation of the data subject to provide the personal data; possible consequences of non-provision</h2>
				<p>We would like to inform you that the provision of personal data is partly required by law (e.g. tax regulations) or may also result from contractual regulations (e.g. information on the contractual partner). Sometimes, in order to conclude a contract, it may be necessary for a data subject to provide us with personal data that must subsequently be processed by us. For example, the data subject is obliged to provide us with personal data if our company concludes a contract with him or her. Failure to provide the personal data would mean that the contract with the data subject could not be concluded. Before providing personal data by the data subject, the data subject must contact one of our employees. Our employee will explain to the data subject on a case-by-case basis whether the provision of the personal data is required by law or contract or is necessary for the conclusion of the contract, whether there is an obligation to provide the personal data, and what the consequences of not providing the personal data would be.</p>
			</li>
			<li>
				<h2>16. Existence of automated decision making</h2>
				<p>As a responsible company, we do not use automatic decision-making or profiling. Developed by the generalTech specialists at Willing & Able, who also developed the system for DS-GVO procedure directories. The texts of the data protection declaration generator were written by Prof. Dr. h.c. Heiko Jonny Maniero and attorney Christian Solmecke.</p>
			</li>
		</ol>
	</div>
</section>