<article class="general">
	<h1 class="general__header">Safety Advice</h1>
	<div class="general__wrap">
		<p class="general__important"><strong>We try every single day to make Quouch as safe, inclusive and positive a place as possible. Unfortunately, like with any app that means meeting strangers online, dangers always exist outside and within our little queer community so it is important to take caution when travelling with Quouch. 🧳</strong></p>
		<p>Currently, we have <strong>invite-only codes</strong> to give a friend-of-friend feel and <strong>heavily monitor who comes in</strong> and making sure we <strong>block and remove people quickly when they don’t abide by the community guidelines.</strong> 👹</p>
		<p>Quouch <strong>checks all accounts every day for incomplete or suspicious profiles</strong> (i.e. don’t have a clear picture) so if you see a user with incomplete or suspicious information please report this to <%= mail_to 'nora@qouch-app.com' %>.</p>
		<p>Please also report any profile that does not abide by the <%= link_to 'community guidelines', guidelines_path %> that we may have missed!</p>
	
		<p>In your interactions with people online <strong>beware of people that:</strong></p>
		<ul class="general__list">
			<li>Ask for financial assistance in any way</li>
			<li>Disappear suddenly from the site then reappears under a different name</li>
			<li>Give vague answers to specific questions</li>
			<li>Overly complimentary, romantic or sexual in your communication</li>
			<li>Request your home or work address - when you are not hosting or have established a connection yet</li>
			<li>Tell inconsistent or grandiose stories</li>
			<li>Say they are a minor</li>
			<li>Send harassing or offensive messages</li>
			<li>Attempt to threaten or intimidate you in any way</li>
			<li>Try to sell you products or services</li>
			<li>Also keep in mind that neither traveller or host has an advantage over the other and both are putting themselves in vulnerable and open positions in this exchange - so neither owes anyone more than the other.</li>
		</ul>

		<h2 class="general__title">For travellers</h2>
		<ol>
			<li>
				<h3>1) Profile Photo Safety! 📸</h3>
				<p>We don’t use second names on Quouch so there is this level of safety already in place. If you are a person that does not want your social media found - <strong>we recommend using a different photo on Quouch</strong> to that of your social media accounts. People can use this image to reverse search and find your social media profiles - so use caution if you want to keep social media private! </p>
			</li>
			<li>
				<h3>2) Profile Description Safety ✍️</h3>
				<p>Be open and friendly but do not share anything sexually provocative, your home address, work address, or anything that you do not want to be shared. </p>
			</li>
			<li>
				<h3>3) Contact with your host via Quouch 🤗</h3>
				<p>On Quouch, you can start by reaching out with the dates you need to stay, who you are. Be <strong>open and friendly</strong>, give as much information as you feel is necessary but Quouch is <strong>based on trust</strong> - you give information to make your host feel comfortable and they should give information to make you feel comfortable.</p>
			</li>
			<li>
				<h3>4) You’ve connected! Time to video call! 📹</h3>
				<p>You have just connected and confirmed that your host is free on the dates booked! Before you pack your bags - <strong>ask your host for a video call to meet them</strong>, see the space/couch/bedroom you will be staying in and to check if this person matches up with their profile. Get their address during this process!</p>
				<p class="general__important">IMPORTANT: If this person refuses to video call you, send you videos or photos of the space and/or you believe that the person in this video call is not the same as the person in the profile - you need to inform us immediately!</p>
				<p>Once you feel like you are reassured this person is who they say they are and know their space is what they say it is - <strong>you can pack your bags and get travelling!</strong></p>
			</li>
			<li>
				<h3>5) Share your location and address with a few people 🏓</h3>
				<p>When travelling <strong>anywhere</strong> you should tell a few close friends or family members where you are going to and make sure to check in with them everyday or a set time every few days.</p>
			</li>
			<li>
				<h3>6) Research help in the country you are going to 📖</h3>
				<p><strong>Make sure you know some basic emergency resources for each country you are going to.</strong> How do you contact the emergency services? How to ask for help in their language? Do you have enough data on your phone to access the internet in rural areas? Please check everything you can in case of the “worst case” scenario.</p>
			</li>
		</ol>
		<p>Make sure to contact us if a host is not who they say they are, is violent etc. as well as the emergency services.</p>

		<h2 class="general__title">For hosts</h2>
		<ol>
			<li>
				<h3>1) Profile Photo Safety! 📸</h3>
				<p>We don’t use second names on Quouch so there is this level of safety already in place. If you are a person that does not want your social media found - <strong>we recommend using a different photo on Quouch</strong> to that of your social media accounts. People can use this image to reverse search and find your social media profiles - so use caution if you want to keep social media private!</p>
			</li>
			<li>
				<h3>2) Profile Description Safety ✍️</h3>
				<p>Be open and friendly but do not share anything sexually provocative, your home address, work address, or anything that you do not want to be shared.</p>
			</li>
			<li>
				<h3>3) Contact with your traveller via Quouch 🦜</h3>
				<p>On Quouch, guests will approach to stay over! Be <strong>open and friendly</strong>, give as much information as you feel is necessary but Quouch is <strong>based on trust</strong> - you give information to make your guest feel comfortable to visit and they should give information to make you feel comfortable.</p>
			</li>
			<li>
				<h3>4) You’ve connected! Time to video call! 📹</h3>
				<p>You have just connected and confirmed that your host is free on the dates booked! Before you pack your bags - <strong>ask your host for a video call to meet them</strong>, see the space/couch/bedroom you will be staying in and to check if this person matches up with their profile. Get their address during this process!</p>
				<p class="general__important">IMPORTANT: If this person refuses to video call you, send you videos or photos of the space and/or you believe that the person in this video call is not the same as the person in the profile - you need to inform us immediately!</p>
				<p>Once you feel like you are reassured this person is who they say they are you can get your space ready for a guest!</p>
			</li>
			<li>
				<h3>5) Let people know who is staying with you 🤳</h3>
				<p>Give some of your close friends and family this information and check in regularly!</p>
			</li>
			<li>
				<h3>6) Make your guest feel as reassured as you can 🌴</h3>
				<p>Whether that is hanging out, giving them recommendations, organising some together time with a meal or just giving them resources about the local area - they are somewhere they don’t know, maybe with a language they don’t speak, or are BIPOC, trans, visibly queer etc. <strong>try to help as much as you are able to in navigating a few things in your home and country!</strong> (This doesn’t mean that you owe them your time but trust is everything!)</p>
			</li>
		</ol>
		<p>If you do not feel fully comfortable in any situation as a guest or host, you can cancel or talk to us at any point.</p>
		<h2>Please have fun and stay safe! 🎉</h2>

		<p>PLANS FOR OUR MOBILE APP IN 2024:</p>
		<p>Once our mobile app comes out, we hope to put in a feature so that you can video call in-app so that you won’t need to leave Quouch! 🫂</p>
		
		<p>Despite all this information, bad things can happen - be aware of your surroundings, who you are with and basic stranger safety when staying with or hosting others. 🫡</p>
	</div>
</article>