<% @results.each do |city| %>
  <li class="search__autocomplete-list-item" role="option" data-autocomplete-value="<%= city %>" data-autocomplete-label="<%= city %>">
    <%= city %>
  </li>
<% end %>
