<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You received a new review from <%= @guest.first_name.capitalize %>!</h1>
    <p>Click <%= link_to 'here', @host_url %> to read it</p>
  </body>
</html>
