<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You received a new review from <%= @host.first_name.capitalize %>!</h1>
    <p>Click <%= link_to 'here', @guest_profile %> to read it.</p>
    <p>Haven't left a review for <%= @host.first_name.capitalize %>? Add review <%= link_to 'now', @host_review %>! 
    <p>Lots of love,</p>
    <p>your Quouch Team</p>
  </body>
</html>
