<section class="error">
	<h1 class="error__title">Oops.. something went wrong!</h1>
		<%= image_tag('https://res.cloudinary.com/dtkxl0tbk/image/upload/v1680116545/quchi.jpg', class: 'error__image') %>
	<p class="error__content">Things didn't go right and you left Quouchistan, but Quchi really wants you to find your way back to where you belong! Just grab the leash and follow it <%= link_to 'home', root_path %>.</p>
</section>