<section class="signin">
  <div class="signin__wrap">
    <h2 class="signin__title">Quouch</h2>
    <h3 class="signin__subtitle">Welcome back!</h3>
    <div class="signin__form">
      <%= simple_form_for(resource, as: resource_name, html: { 'data-turbo': 'false' }, url: session_path(resource_name)) do |f| %>
          <%= f.input :email,
                      required: false,
                      label: false,
                      placeholder: 'Email Address',
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
          <%= f.input :password,
                      required: false,
                      label: false,
                      placeholder: 'Password',
                      input_html: { autocomplete: "current-password" } %>

        <div class="signin__button">
          <%= f.button :submit, "Log in" %>
        </div>
      <% end %>
      <div class="signin__links">
        <a class="" href="/users/password/new">Forgot your password?</a>
      </div>
    </div>
  </div>
</section>
