<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @sender.first_name.capitalize %> sent you a message!</h1>
    <p>"<%=  @message.content %>"</p>
    <%= link_to 'Answer now', @chat_url %>
  </body>
</html>
