.form-error {
	color: $error;
	display: flex;
	align-items: start;
	gap: .2rem;
	font-size: .75rem;
	margin-left: .5rem;

	&-photo { margin: .2rem auto 0; }
	&-characteristics { margin-top: -.5rem; }
	&-rating { margin: .7rem 0; }
}

.form-error::before {
  content: url('https://res.cloudinary.com/dtkxl0tbk/image/upload/v1680005861/error.svg');
}
