.form-error {
    color: $error;
    display: flex;
    align-items: flex-start;
    gap: 0.2rem;
    font-size: 0.75rem;
    margin-left: 0.5rem;
    text-align: start;

    &-photo {
        margin: 0.2rem auto 0;
    }

    &-characteristics {
        margin-top: 0.5rem;
    }

    &-rating {
        margin: 0.7rem 0 0;
    }

    &-booking {
        margin-bottom: 0.5rem;
    }
}

.form-error + .form-error {
    margin-top: 0.5rem;
}

.form-error::before {
    content: '\f129';
    font-family: QuouchIcons !important;
}
