.flash-container {
    position: absolute;
    z-index: 10;
    top: 10px;
    left: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.25rem;
    width: fit-content;

    .flash {
        position: relative !important;
    }
}

.flash {
    position: absolute;
    z-index: 10;
    top: 10px;
    left: 10px;
    padding: 0.7rem 1rem;
    background-color: $secondary-super-transparent;
    border-radius: 16px;
    width: fit-content;
    box-shadow: $box-shadow-alert;
    transition: opacity 1s ease-in-out;

    &__button {
        width: 16px;
        height: 16px;
        font-size: 12px;

        background-color: transparent;
        border: 0;
        margin-left: 0.2rem;
    }
}

// Generate alert classes
@each $state, $color in $flash-colors {
    .flash-#{$state} {
        background-color: map-get($color, 'background');
        color: map-get($color, 'text');
        border-color: map-get($color, 'border');

        i {
            color: map-get($color, 'text');
        }
    }
}
