form {
	.checkbox-field {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		column-gap: 0.3rem;
		flex-shrink: 0;

		label {
			@include body-3;

			margin: 0;
		}

		i {
			font-size: 18px;
		}
	}

	.hint {
		width: 100%;
	}
}
