.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: $primary-super-transparent;

    &__logo {
        a { @include logo; }
    }

    &__avatar {
        border-radius: 50%;
        width: 40px;
        height: 40px;
    }

    &__note {
		@include caption;

		color: $gray-05;
	}
}