.message {
    display: flex;
    gap: 0.7rem;

    img {
        border-radius: $border-radius-round;
        height: 40px;
        width: 40px;
        margin: 0;
        flex-shrink: 0;
    }

    &-details {
        display: inline-block;
        margin-bottom: 0.5rem;

        i {
            display: block;
            margin-top: 0.2rem;

            @media (min-width: $break-small) {
                display: inline;
            }
        }

        a {
            color: inherit;
        }
        a:hover {
            text-decoration: underline;
        }
    }
}
