.offers {
	display: flex;
	align-items: center;
	gap: 1rem;
	grid-row: 3;
	margin: 1rem auto;

	&-item {
		display: flex;
		gap: 0.2rem;
		align-items: center;
		color: $primary;
		flex-shrink: 0;

		i {
			font-size: 24px;
		}
	}
}
