.offers {
	display: flex;
	align-items: center;
	gap: 1rem;
	grid-row: 2;
	margin: 1rem auto;
	
	&-item {
		display: flex;
		gap: .2rem;
		align-items: center;
		color: $primary;
		flex-shrink: 0;
		
		img { color: $primary; }
	}
}