.review {
    margin: 1rem 0;
    min-width: 300px;
    width: 50%;
    background-color: $secondary-super-transparent;
    border-radius: $border-radius-medium;

    &--card {
        padding: 1rem;
    }

    &--preview {
        width: 100%;
        background-color: $white;
    }

    &__rating {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-bottom: 1rem;

        p {
            @include facility-name;
            line-height: 1rem;
        }

        i {
            font-size: 24px;
        }
    }

    &__stars {
        display: flex;

        i {
            font-size: 16px;
        }
    }

    &__details {
        p {
            @include facility-name;
        }

        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin: 1rem 0;
    }

    &__type {
        p {
            @include caption;
        }

        display: flex;
        align-items: center;
        gap: 0.3rem;
        margin: 0.5rem 0;

        font-size: 16px;
    }

    &__image {
        width: 50px;
        height: 50px;
        border-radius: $border-radius-round;
        object-fit: cover;
    }

    &__content {
        @include facility-name;

        line-height: 1.5rem;
        margin-top: 0.5rem;
    }
}

.reviews {
    grid-row: 1;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    overflow-x: scroll;
    padding: 0 0.5rem;
    scroll-snap-type: proximity;
    scrollbar-color: $primary-transparent $primary-transparent;
    scrollbar-width: thin;

    @media (min-width: $break-large) {
        width: 600px;
    }
}
