.review {
	margin-bottom: 1rem;

	&__content {
		p { @include facility-name; }
		line-height: 1.5rem;

		p:before {
			content: "\201C";
		}

		p:after {
			content: "\201D";
		}
	}

	&__stars {
		display: flex;
		margin-bottom: 1rem;

		img {
			width: 24px;
			height: 24px;
		}
	}
}