.search {
	display: flex;
	justify-content: center;
	gap: .5rem;
	margin: 2rem auto;

	input:first-child {
		@include input-field;
		margin: 0;
		box-shadow: $box-shadow;
	}

	&__wrap {
		display: flex;
		justify-content: center;
	}

	&__button {
		@include input-field;
		@include primary-button;

		box-shadow: $box-shadow;
	}
}