/* Existing Switch Button CSS */
.switch-button {
	@include body-3;

	display: flex;
	align-items: center;
	background-color: $primary-transparent;
	border-radius: $border-radius-xlarge;
	overflow: hidden;
	width: 100%;
	max-width: 240px;
	text-align: center;
	color: $white;
	position: relative;
	margin: 2rem auto;
	box-shadow: $box-shadow-hover;

	&-radio {
		display: none;

		&:checked + .switch-button-label {
			background: $primary-light;
			color: $white;
		}
	}

	.switch-button-label {
		flex: 1;
		padding: 15px 0;
		cursor: pointer;
		position: relative;
		overflow: hidden; // Ensure content that overflows is hidden

		.switch-button-label-span {
			overflow: hidden; // Hide overflowed content
			text-overflow: ellipsis; // Show ellipsis if text overflows
			transition: color 300ms;

			@media (min-width: $break-medium) {
				white-space: nowrap;
			}
		}

		&:hover {
			background: $primary-light;
		}
	}

	@media (min-width: $break-medium) {
		width: 400px;
		max-width: none;
	}
}
