.booking-form {
    margin: 0 auto;
    padding: 2rem;
    background-color: $white;
    border-radius: $border-radius-medium;
    text-align: center;
    box-shadow: $box-shadow;

    @media (min-width: $break-medium) {
        min-width: $break-x-small;
    }

    &__wrap {
        @include container-width;

        margin: 8rem auto 4rem;

        @media (min-width: $break-medium) {
            display: grid;
            grid-template-columns: 2fr 1fr;
        }

        @media (min-width: $break-large) {
            align-items: center;
        }
    }

    &__type {
        > label {
            @include title-5;
        }

        margin-bottom: 2rem;

        .booking_request {
            display: flex;
            flex-direction: column;
            color: $gray-05;
            align-items: flex-start;
            margin: 1rem auto;
            width: fit-content;

            input {
                margin-right: 1rem;
                color: $primary;
            }
        }
    }

    &__details {
        margin: 2rem auto;

        &__wrap {
            margin: 0 auto;
            width: fit-content;

            > label {
                @include title-5;

                display: block;
            }
        }
    }

    &__flexible {
        label {
            gap: .5rem;
            display: flex;
            align-items: center;
            margin-bottom: .5rem;
            color: $gray-05;
        }
    }

    &__dates {
        display: flex;
        gap: .5rem;
    }

    &__travellers {
        display: flex;
        align-items: center;
        gap: 0.7rem;

        input {
            @include input-field;

            border: 1px solid $gray-02;
            width: 6em;
        }

        i {
            font-size: 24px;
        }
    }

    .booking_number_travellers {
        > input {
            margin-top: auto;
            @media (min-width: $break-large) {
                width: 6rem;
            }
        }
    }

    .booking_message {
        > label {
            @include title-5;
        }

        display: flex;
        flex-direction: column;
        margin: 1rem auto 0;
    }

    &__action {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-top: 1rem;

        a {
            @include tertiary-button;
        }

        @media (min-width: $break-medium) {
            gap: 2rem;
        }

        &--edit {
            flex-direction: column;
            gap: 1rem;
        }
    }

    &__button {
        @include input-field;
        @include primary-button;
    }

    &__button[disabled] {
        background-color: grey;
    }
}

.date {
    &-input {
        display: flex;
        align-items: center;
        gap: 0.7rem;

        input {
            @include input-field;

            border: 1px solid $gray-02;
            width: 6em;
        }

        i {
            font-size: 24px;
        }
    }
}
