.bookings {
	margin: 4rem auto;
	width: 100%;
	
	&__wrap {
		@include container-width;

		margin: 0 auto;
	}

	&__title {
		margin: 2rem auto;
	}
}

.upcoming-booking {
	margin: 1.5rem auto;
	background-color: $white;
	box-shadow: $box-shadow;
	border-radius: $border-radius-medium;
	width: 100%;

	@media (min-width: $break-small) {
		display: flex;
		justify-content: start;
	}

	&__profile {
		max-width: 100%;
		width: 100%;
		height: 60%;
		object-fit: cover;
		border-top-left-radius: $border-radius-medium;
		border-top-right-radius: $border-radius-medium;

		@media (min-width: $break-small) {
			height: auto;
			width: 200px;
			border-bottom-left-radius: $border-radius-medium;
			border-top-right-radius: 0;
		}

		@media (max-width: $break-small) { max-height: 200px; }
	}

	&__wrap {
		padding: 1rem;

		@media (min-width: $break-medium) {
			padding: 2rem;
		}
	}

	&__host {
		@include title-5;
		margin: 0;
		color: $black;
	}

	&__city {
		@include profile-title;
		margin-top: .1rem;
	}

	&__details { 
		@media (min-width: $break-medium) {
			margin: 2rem 0 0; 
		}
	}

	&__detail {
		color: $black;
		
		img {
			height: 16px;
			width: 16px;
		}

		display: flex;
		gap: .5rem;
		align-items: center;
		margin: .4rem 0;
	}
}

.past-bookings {
	@media (min-width: $break-medium) {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 1rem;
		justify-content: space-between;
		align-items: stretch;
	}

	@media (min-width: $break-x-large) {
		grid-template-columns: repeat(3, 1fr);
		gap: 1.5rem;
	}
}

.past-booking {
	display: flex;
	height: 100%;
	margin: 1rem auto;
	background-color: $white;
	border-radius: $border-radius-medium;
	box-shadow: $box-shadow;

	@media (min-width: $break-medium) {
		margin: 0;
	}
	
	&__profile {
		width: 40%;
		
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
			border-top-left-radius: $border-radius-medium;
			border-bottom-left-radius: $border-radius-medium;
		}
	}
	
	&__wrap {
		width: 60%;
		padding: 1rem;
		align-self: center;
	}

	&__host {
		@include title-5;

		color: $black;
		margin: 0;
	}

	&__city {
		@include profile-title;
		margin: .1rem 0;
	}

	&__detail {
		img {
			height: 16px;
			width: 16px;
		}

		display: flex;
		gap: .5rem;
		align-items: center;
		margin: .7rem 0;
		color: $black;
	}

	&__link {
		font-size: 14px;

		@media (min-width: $break-large) { font-size: 16px; }
	}

	&__note { color: $black; }
}