.chat {
  width: 80%;
  margin: 4rem auto;

  &__title {}

  &__messages {
    display: flex;
    flex-direction: column;
  }

  &__message {
    display: flex;
    margin-bottom: 1rem;

    &--left { justify-content: start; }
    &--right { justify-content: end; }
  }

  &__sender { background-color: $primary-super-transparent; }
  
  &__receiver {
    background-color: $primary-light;
    color: $white;
  }

  &__form {
    display: flex;
    
    div:first-child { width: 100%; }

    &-input {
      width: 100%;
    }

    &-button {
      background-color: transparent;
      border: 0;
      transform: rotate(45deg);
    }
  }
}

.message {
  padding: 1rem;
  border-top-left-radius: $border-radius-small;
  border-top-right-radius: $border-radius-small;
  border-bottom-right-radius: $border-radius-small;
}
