.chats {
	width: 80%;
  max-width: $container;
  margin: 8rem auto 4rem;
	background-color: $white;
	border-radius: $border-radius-small;
	padding: 2rem;
	box-shadow: $box-shadow;

	&__list {
		li + li { border-bottom: solid .7px $gray-02; }

		&-item {
			display: flex;
			gap: 1rem;
			border-top: solid .7px $gray-02;
			padding: 1rem;
			
			@media(min-width: $break-small) {
				gap: 2rem;
				align-items: center;
			}

			img {
				height: 50px;
				width: 50px;
				border-radius: $border-radius-round;
				object-fit: cover;
				object-position: center;
				
				@media(min-width: $break-small) {
					height: 100px;
					width: 100px;
				}
			}
		}
	}

	&__wrap {
		&--right { margin-top: auto; }
	}
	
	&__details {
		@media(min-width: $break-medium) {
			display: flex;
			justify-content: space-between;
			width: 100%;
		}
		
		&-name {
			@include title-4;
			
			color: $gray-06;
			margin: 0;

			@media(max-width: $break-medium) {
				position: relative;
				font-size: 1rem;
				margin-bottom: .3rem;
			}

			&--unread { font-weight: bold; }
		}

		&-content {
			color: $gray-06;
			
			&--unread { font-weight: bold; }

			@media(max-width: $break-medium) { font-size: .8rem; }
		}

		&-time {
			@include body-3;

			margin-top: 1rem;
			color: $gray-04;

			&--unread { font-weight: bold; }

			@media(max-width: $break-medium) { font-size: .8rem; }
		}
	}

	&__notifications {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $secondary-light;
		color: white;
		font-size: 12px;
		border-radius: $border-radius-round;
		height: 20px;
		width: 20px;

		@media(max-width: $break-medium) { margin-top: .5rem; }
	}
}