.chat {
  @include container;

  &__messages {
    display: flex;
    flex-direction: column;
    min-height: 10vh;

    img {
      height: 140px;
      width: 140px;
      object-fit: cover;
      object-position: center;
      margin-top: 4rem;
    }

    &--empty {
      @include title-5;

      color: $secondary-light;
      margin: 4rem auto;
      max-width: $break-small;
      text-align: center;

      img {
        margin: 1rem auto;
      }
    }
  }

  &__message {
    display: flex;
    margin-bottom: 1rem;

    p {
      font-size: 0.75rem;

      @media (min-width: $break-large) { font-size: 1rem; }
    }

    &--left { justify-content: start; }
    &--right { justify-content: end; }
  }

  &__sender {
    background-color: $primary-super-transparent;
    border-top-left-radius: $border-radius-small;
    border-top-right-radius: $border-radius-small;
    border-bottom-right-radius: $border-radius-small;
  }
  
  &__receiver {
    background-color: $primary-light;
    color: $white;
    border-top-left-radius: $border-radius-small;
    border-top-right-radius: $border-radius-small;
    border-bottom-left-radius: $border-radius-small;
  }

  &__form {
    display: flex;
  
    div:first-child { width: 100%; }

    &-input { width: 100%; }

    &-button {
      background-color: transparent;
      border: 0;
      transform: rotate(45deg);
    }
  }
}

.message { padding: 1rem; }
