.confirmed {
	@include container;

	&__title {
		@include title-2;
	}

	&__buttons {
		display: flex;
		gap: 1rem;
	}

	&__back {
		@include input-field;
		@include secondary-button;

		margin: 2rem 0;
	}

	&__link {
		@include primary-button;
		@include input-field;

		color: $white;
		margin: 2rem 0;
	}
}
