.couches {
	&__wrap {
		margin: 4rem auto;
		width: 90%;

		@media (min-width: $break-x-large) { @include container-width; }
	}

	&__list {
		@media (min-width: $break-medium) {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 2rem;
			justify-content: center;
		}

		@media (min-width: $break-large) { grid-template-columns: repeat(3, 1fr); }
	
		@media (min-width: $break-x-large) { grid-template-columns: repeat(4, 1fr); }
		
		&-item {
			border-radius: $border-radius-medium;
			background-color: $white;
			box-shadow: $box-shadow;
			min-width: fit-content;
			width: 300px;
			height: 100%;
			margin-bottom: 2rem;
			transition: all 160ms ease-in-out;

			&:hover {
				transform: scale(1.04);
				box-shadow: $box-shadow-hover;
			}
		}
	}

	
	&__image {
		width: 100%;
		background-position: center;
		background-size: cover;
		border-top-left-radius: $border-radius-medium;
		border-top-right-radius: $border-radius-medium;
	}
	
	&__content { padding: 1rem; }

	&__offers {
		p { font-size: .75rem; }
		
		img {
			height: 16px;
			width: 16px;
		}
	}

	&__details {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
	}
	
	&__name {
		@include title-5;

		margin: 0;
		a { color: $black; }
	}
	
	&__characteristics {
		@include body-2;

		color: $gray-05;
	}

	&__rating {
		display: flex;
		align-items: center;
		gap: .1rem;
		color: $gray-05;
	}
}
