.host {
	margin-bottom: 1rem;
	margin-top: -5rem;
	border-radius: $border-radius-medium;
	z-index: 1;
	
	@media (min-width: $break-medium) { margin-right: 1rem; }

	h2 { @include profile-title; }

	&__content {
		grid-column: 2;

		display: grid;
		grid-template-rows: min-content;
		row-gap: 1rem;
		border-radius: $border-radius-medium;
		padding: 1.7rem;
		background-color: $white;
		box-shadow: $box-shadow;

		@media (min-width: $break-x-large) {
			height: 100%;
			box-shadow: 0;
			padding-top: 6rem;
		}
	}
	
	&__info {
		grid-row: 1;
		margin-top: 5rem;

		@media (min-width: $break-x-large) { margin-top: 0; }
	}

	&__gallery {
		grid-column: 1;
		width: 10rem;
		object-fit: cover;
		object-position: center;
		height: 10rem;
		border-radius: $border-radius-round;
		margin: 0 auto;
		position: relative;
		top: 5rem;
	}
	
	&__name {
		@include title-3;
		
		text-align: center;
		color: $black;
	}

	&__characteristics {
		@include body-2;
		
		display: flex;
		justify-content: center;
		gap: 1rem;
		color: $gray-05;
	}

	&__offers {
		flex-wrap: wrap;
		justify-content: center;

		@media (min-width: $break-x-large) {
			flex-wrap: nowrap;
			justify-content: start;
		}
	}

	&__features {
		grid-row: 3;
		justify-content: center;
	}

	&__intro {
		grid-row: 4;

		@media (max-width: $break-large) { display: none; }
	}

	&__accomodation {
		grid-row: 5;

		&-list {
			@include facility-name;

			display: grid;
			grid-template-columns: repeat(2, 1fr);
			row-gap: .5rem;

			li {
				display: flex;
				align-items: center;
				
				img { margin-right: .5rem; }
			}

		}

		@media (max-width: $break-large) { display: none; }
	}

	&__location {
		grid-row: 6;

		@media (max-width: $break-large) { display: none; }
	}
}