.host {
	display: grid;
	grid-template-columns: 50% 50%;
	border: .2px solid $primary;
	border-radius: $border-radius-medium;
	margin: 2rem;
	height: 500px;

	&__wrap {
		grid-column: 2;

		display: grid;
		grid-template-rows: min-content;
		row-gap: 1rem;
		padding: 2rem;
		overflow-y: scroll;
		scrollbar-color: $primary-transparent $primary-transparent;
		scrollbar-width: thin;
	}
	
	&__info {
		grid-row: 1;
		margin-bottom: 2rem;
	}

	&__gallery {
		grid-column: 1;
		width: 100%;
		border-top-left-radius: $border-radius-medium;
		border-bottom-left-radius: $border-radius-medium;
		background-size: cover;
		background-position: center;
		object-fit: cover;
		height: 100%;
	}

	&__name {
		@include title-3;

		text-align: center;
		color: $black;
	}

	&__characteristics {
		@include body-2;
		
		display: flex;
		justify-content: center;
		gap: 1rem;
		color: $gray-05;
	}

	&__offers {
		display: flex;
		align-items: center;
		gap: 1rem;
		grid-row: 2;
		margin-bottom: 2rem;

		&-item {
			display: flex;
			gap: .2rem;
			color: $primary;

			img { color: $primary; }
		}
	}

	&__intro {
		grid-row: 3;

		&-title { @include profile-title; }
	}

	&__accomodation {
		grid-row: 4;

		&-title {
			@include profile-title;
		}

		&-list {
			@include facility-name;

			display: grid;
			grid-template-columns: 1fr 1fr;
			row-gap: .5rem;

			li {
				display: flex;
				align-items: center;
				
				img { margin-right: .5rem; }
			}

		}
	}

	&__location {
		grid-row: 5;

		&-title { @include profile-title; }
	}
}