.plans {
	&__wrap {
		@include container;

		margin: 6rem auto 4rem;
	}

	&__title { color: $secondary; }
	&__subtitle {
		@include title-3;

		color: $black;
		display: block;
	}

	&__content {
		h2 { @include title-5; }
	
		margin: 0 auto;
		text-align: center;
	}

	&__list {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 2rem;

		&-item {
			display: flex;
			flex-direction: column;
			height: 100%;
			background-color: $secondary-super-transparent;
			border-radius: $border-radius-medium;
			padding: 2rem;

			h3 {
				@include title-5;

				margin: 1rem auto;
			}
		}
	}

	&__price {
		@include title-3;
		
		text-align: center;
		color: $secondary;
		margin: 2rem auto;
	}

	&__description { margin: 4rem auto; }

	&__summary {
		border-top: 1px solid $gray-03;
		padding-top: 2rem;

		p {
			display: flex;
			justify-content: space-between;
		}
	}

	&__total {
		@include title-5;
		
		color: $primary;
		margin-top: 2rem;
	}

	&__button {
		@include input-field;
		@include primary-button;

		margin-top: auto;
		margin-bottom: 0;
	}
}
