.sent {
    @include container;

    h2 {
        @include profile-title;
    }

    h2:first-child {
        margin-top: 0;
    }

    &__title {
        @include title-2;
    }

    &__wrap {
        @media (min-width: $break-medium) {
            display: flex;
        }
    }

    &__booking {
        width: 100%;
        min-width: 60%;
        padding-bottom: 2rem;

        @media (min-width: $break-medium) {
            padding: 2rem;
            border-right: solid 1px $gray-02;
        }
    }

    &__details {
        &-list {
            li {
                display: flex;
                align-items: center;
                gap: .3rem;
                margin-bottom: .5rem;

                i {
                    font-size: 16px;
                }
            }
        }
    }

    &__host {
        span {
            @include body-3;

            display: block;
            margin: .5rem 0 1rem;
        }
    }

    &__accommodation {
        @include facility-name;
        margin: 1rem 0;

        &-list {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
        }

        li {
            display: flex;
            align-items: center;
            gap: .5rem;

            img {
                height: 16px;
                width: 16px;
            }
        }
    }

    &__link {
        @include primary-button;
        @include input-field;

        color: $white;
        margin: 2rem 0;
    }

    &__message {
        flex-grow: 1;
        border-top: solid 1px $gray-02;
        padding-top: 2rem;

        @media (min-width: $break-medium) {
            border-top: 0;
            padding: 2rem;
            min-width: 40%;
        }
    }
}
