<p>Hello, you have been invited by <%= @resource.first_name %> to join Quouch!</p>

<p><%= t("devise.mailer.invitation_instructions.someone_invited_you", url: root_url) %></p>

<p><%= link_to t("devise.mailer.invitation_instructions.accept"), accept_invitation_url(@resource, invitation_token: @token) %></p>

<p>If you have any questions, please contact us at <%= mail_to 'hello@quouch.net' %>.</p>
<p>See you soon, Quouchee!</p>